/* Resetter */
* {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

:root {
  --color-primary: #001d38;
  --color-secondary: #e9ebea;
  --color-secondary-section: #e9ebea;
  --color-secondary-light: #eff1f0;
  --color-secondary-dark: #ececec;
  --color-secondary-darker: #dfdfdf;
  --color-accent1: #fa2f5b;
  --color-accent2: #2a99c6;
  --color-accent3: #2c3bbe;
}

/* Fonts */
html {
  font-family: "Poppins", sans-serif;
  font-size: 1.2em;
}

h1,
h2,
h3 {
  color: var(--color-accent2);
  font-family: "Noto Serif Display", serif;
  margin-bottom: 1rem;
}

h1 {
  color: var(--color-accent2);
  font-size: 3.052rem;
  line-height: 3.5rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: 1.953rem;
  line-height: 2rem;
  margin-bottom: 2rem;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}

p {
  color: var(--color-primary);
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}

a {
  text-decoration: none;
  color: var(--color-accent1);
  transition: 0.5s ease;
  position: relative;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

a::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  content: "";
  background-color: var(--color-accent1);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s ease-in-out;
}
a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

/* UI Elements */
button {
  padding: 1rem 2rem;
  border: none;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  background-color: var(--color-accent1);
  color: var(--color-secondary);
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

nav button:hover {
  background-color: var(--color-primary);
  border: solid 2px var(--color-accent1);
  color: var(--color-accent1);
}

.dark_button {
  background-color: var(--color-accent1);
}

.dark_button:hover {
  background-color: var(--color-secondary);
  border: solid 2px var(--color-accent1);
  color: var(--color-accent1);
}

#request button:hover {
  background-color: var(--color-secondary-darker);
  border: solid 2px var(--color-accent1);
  color: var(--color-accent1);
}

input[type="text"] {
  box-sizing: border-box;
  width: 250px;
  height: 3rem;
  padding: 1rem 1rem;
  font-size: 1rem;
  text-align: left;
  background-color: var(--color-secondary-light);
  border-color: var(--color-accent3);
  color: var(--color-primary);
}

/* Menu */
nav {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-primary);
}

.toggle {
  width: 4rem;
  height: 2rem;
  border-radius: 3rem;
  background: var(--color-secondary);
  position: relative;
  box-shadow: 0 0 0.2rem 0.2rem rgba(24, 24, 24, 0.397) inset;
  cursor: pointer;
}

.toggle:after {
  position: absolute;
  content: "";
  top: 2px;
  left: 2px;
  width: calc(2rem - 4px);
  height: calc(2rem - 4px);
  background: var(--color-accent1);
  z-index: 10;
  border-radius: 50%;
  transition: 0.5s ease-in-out;
  box-shadow: 0 0 1rem rgba(24, 24, 24, 0.801);
}

.toggled:after {
  transform: translateX(2rem);
  background-color: var(--color-primary);
}

/* LINKS AND STUFF */

a a:hover {
  text-decoration: none;
}

nav a {
  color: var(--color-secondary);
  text-decoration: none;
  transition: 0.5s ease;
  position: relative;
}

nav a::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  content: "";
  background-color: var(--color-secondary);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s ease-in-out;
}

nav a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

nav a.logo {
  font-family: "Noto Serif Display", serif;
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--color-secondary);
}

nav li {
  display: inline-block;
  margin: 0px 1rem;
}

/* Header */
header {
  display: flex;
  min-height: 80vh;
  padding: 5rem;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: var(--color-secondary-section);
}

header p {
  color: var(--color-primary);
}

header button {
  margin-bottom: 3rem;
}

.header_text {
  width: 30vw;
  min-width: 300px;
}

.header_graphics {
  width: 25vw;
  height: 25vw;
  min-width: 250px;
  min-height: 250px;
  border-radius: 250px;
  background-color: var(--color-primary);
  margin-bottom: 1rem;
  padding: 3rem;
}
.header_graphics object {
  width: 100%;
  height: 100%;
}

.header_graphics object svg path {
  fill: rgb(185, 27, 27);
}

/* product section */
#product {
  padding: 5rem 3rem;
  background-color: var(--color-secondary-dark);
}

#product h2 {
  font-size: 3.052rem;
  line-height: 3.5rem;
}

#product article {
  display: flex;
  min-height: 50vh;
  padding: 1rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

#product article:first-child {
  min-height: 40vh;
}

.product_text {
  width: 50vw;
  min-width: 300px;
}

#product article:first-child .product_text {
  width: 75vw;
  min-width: 300px;
}

.product_graphics {
  width: 15vw;
  height: 15vw;
  min-width: 150px;
  min-height: 150px;
  padding: 1rem;
  margin: 3rem;
  background-color: var(--color-primary);
  border-radius: 300px;
}
.product_graphics object {
  width: 100%;
  height: 100%;
}

/* highlight sections */
.highlight {
  display: flex;
  min-height: 70vh;
  padding: 2rem;
  align-items: center;
  justify-content: space-around;
  background-color: var(--color-secondary-light);
}

.highlight div {
  width: 80vw;
}

.highlight div h2 {
  font-size: 5.005rem;
  line-height: 6rem;
}

.dark {
  background-color: #222;
}

.dark h2 {
  color: #eee;
}

.dark a {
  color: #ccc;
}

/* request section */
#request {
  display: flex;
  min-height: 50vh;
  padding: 2rem;
  align-items: center;
  justify-content: space-around;
  background-color: var(--color-secondary-darker);
}

#request div {
  width: 50vw;
  min-width: 300px;
}

/* Footer */
footer {
  display: flex;
  padding: 5vh 2rem;
  align-items: top;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: var(--color-primary);
  color: #ddd;
}

footer h2,
footer h3 {
  color: var(--color-secondary);
  margin-bottom: 1rem;
}

footer a {
  color: var(--color-accent1);
  text-decoration: none;
  transition: 0.5s ease;
  position: relative;
}

footer a::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  content: "";
  background-color: var(--color-accent1);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s ease-in-out;
}

footer a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

footer section.left {
  display: flex;
  max-width: 50vw;
  align-items: top;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer section div {
  margin: 0px 1rem 1rem 1rem;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 0.9em;
  }

  #product h2 {
    font-size: 1.953rem;
    line-height: 2rem;
    margin-bottom: 2rem;
  }
  .highlight div h2 {
    font-size: 3.052rem;
    line-height: 3.5rem;
  }
}

/* DARK MODE SETTINGS */

.dark-mode {
  --color-primary: #00101f;
  --color-secondary: #bebebe;
  --color-secondary-section: #444444;
  --color-secondary-light: #858585;
  --color-secondary-dark: #696969;
  --color-secondary-darker: #4e4e4e;
  --color-accent1: #af2442;
  --color-accent2: #2480a5;
  --color-accent3: #212c8f;
}
